body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) ;
}

h1{
    text-align: center;
}

video{
    width: 100%;
}

#caption-container {
    margin-top: 10px;
}

/* Estilos para a legenda */

::cue{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}